<z-layout class="w-full h-screen flex flex-col" [class]="currentRole === 'STUDENT' ? 'student' : 'professor'">

    <z-header class="border-none w-full shrink-0">
        <div class="w-full flex justify-between">
            <h1 class="font-medium">Studunix</h1>

            <div class="w-3/10 2xl:w-1/16 xl:w-1/10 md:w-2/16 flex items-center justify-between">
                <lucide-angular [img]="bellIcon" size="18" />
                <lucide-angular [img]="helpIcon" size="18" />
                <div class="w-9 h-9 rounded-full bg-primary"></div>
            </div>
        </div>
    </z-header>

    <z-layout class=" flex flex-1 min-h-0">
        <z-sidebar
        
        class="p-0! shrink-0 md:h-full border-none max-w-14.5 md:max-w-42 xl:max-w-200">
            <nav class="w-full px-2 pr-3 mt-10 md:mt-2">
                @for (section of sections; track $index) {
                    <z-sidebar-group-label class="hidden md:inline">{{section.title}}</z-sidebar-group-label>
                    @for (page of section.pages; track $index) {
                        <button z-button (click)="navigatePage(page.path)" [zType]="isPage(page.id) ? 'default' : 'ghost'" class="mb-2 rounded-lg w-full flex justify-start">
                            <lucide-angular [img]="page.icon" class="mr-2" />
                            <p class="hidden md:block">{{ page.label }}</p>
                        </button>
                    }
                }
            </nav>
        </z-sidebar>

    <div class="flex flex-col flex-1 min-h-0 overflow-hidden">
      <router-outlet />
    </div>


</z-layout>

</z-layout>