
<ng-template
#stateTemplate let-row
>
<div class="w-full h-full flex items-center justify-center">
    <z-badge class="h-2/10 py-1 px-2">
        @if (row.state == 'Pending') {
            <lucide-angular [img]="clock" [size]="16" class="mr-1" /> <span>Pendente</span>
        }
        @else if (row.state == 'Timeout') {
            <lucide-angular [img]="check" [size]="16" class="mr-1" /> <span>Concluída</span>
        }
    </z-badge>
</div>
</ng-template>

<ng-template
#submissions let-row
>
<h1 class="text-center">{{row.submissionsQuantity}}</h1>
</ng-template>
<header class="min-h-12 w-full flex items-end justify-end px-2 ">
    <button z-button (click)="openDialog()" class="rounded-lg">
        <lucide-angular [img]="plus" class="mr-1"/>
        <span>Criar Tarefa</span>
    </button>
</header>
@if (assignments != undefined) {
    <app-data-table [columns]="columns()" [data]="assignments()"  />
}


