
<ng-template
#stateTemplate let-row
>
<div class="w-full h-full flex items-center justify-center">
    <z-badge class="h-2/10 py-1 px-2 font-semibold" [class]="row.state == 'Pending' ? 'bg-pastel-yellow/20 text-pastel-yellow' : 'bg-pastel-green/20 text-pastel-green'">
        @if (row.state == 'Pending') {
            <lucide-angular [img]="clock" [size]="16" class="mr-1" /> <span>Pendente</span>
        }
        @else if (row.state == 'Done') {
            <lucide-angular [img]="check" [size]="16" class="mr-1" /> <span>Concluída</span>
        }
    </z-badge>
</div>
</ng-template>

<ng-template
#submissions let-row
>
<h1 class="text-center">{{row.submissionsQuantity}}</h1>
</ng-template>
<header class="min-h-12 w-full flex items-end justify-end px-2 ">
    <button z-button (click)="openDialog()" class="rounded-lg">
        <lucide-angular [img]="plus" class="mr-1"/>
        <span>Criar Tarefa</span>
    </button>
</header>
@if (assignments != undefined) {
    <section class="w-full pb-10 text-sm enter-in">
        <app-data-table (doubleClick)="redirect($event)" [columns]="columns()" [data]="assignments()"  />
    </section>
}


