<header class="min-w-full  max-h-20 h-10 flex border-b">
    @for (item of tabsData; track $index) {
        <div class="flex text-xs transition-all duration-100 ease-in-out items-center h-full min-w-1 px-2 w-fit justify-center cursor-default" (click)="toggleTab(item.path)" [class]="isTab(item.path) ? 'border-b-2 border-b-primary font-medium text-black ' : ''">
            <lucide-angular [img]="item.icon" [size]="14" class="mr-1" />
            <h1>{{item.label}}</h1>
        </div>
    }
</header>
