<section class="w-full ">
    <table z-table class="w-full">
        <thead z-table-header class="">
            <tr z-table-row class="pb-4 h-12">
              @for (c of columns; track $index) {
                <th z-table-head class="max-w-fit">{{c.header}}</th>
              }
            </tr>
        </thead>
        <tbody z-table-body>
            @if (data) {
                @for (row of data; track $index) {
                <tr z-table-row  (dblclick)="onDoubleClick(row)">
                    @for(col of columns; track $index) {
                        @if(col.template) {
                            <td z-table-cell class="max-w-fit">
                                <ng-container
                                *ngTemplateOutlet="col.template; context: { $implicit: row }"
                                >
                                </ng-container>
                            </td>
                        }

                        @else if(col.component) {
                            <td z-table-cell>
                                <ng-container
                                *ngComponentOutlet="col.component;
                                inputs: col.componentInputs?.(row)">
                                >
                                </ng-container>
                            </td>
                        }

                        @else if(col.cell) {
                            <td z-table-cell class="text-center max-w-fit">{{ col.cell(row) }}</td>
                        }
                        @else {
                            <td z-table-cell class="max-w-fit">{{ row[col.accessor!] }}</td>
                        }
                    }
                </tr>
            }
            }
            @else {
                <tr z-table-row class="w-full">
                    <div class="w-full h-full flex justify-center items-center">
                        <p>Sem resultados</p>
                    </div>
                </tr>
            }
        </tbody>
    </table>
</section>
