@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@custom-variant student (&:is(.student *));
@custom-variant professor (&:is(.professor *));

@custom-variant student (&:where(.student *));
@custom-variant professor (&:where(.professor *));

@custom-variant coordenation (&:is(.coordenation *));
@custom-variant coordenation (&:where(.coordenation *));


:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(41.794% 0.16972 267.464);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(52.068% 0.1947 25.502);
  --destructive-foreground: oklch(54.28% 0.20031 25.246);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.869 0.005 56.366);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.325rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

  
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.147 0.004 49.25);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.147 0.004 49.25);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.985 0.001 106.423);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.268 0.007 34.298);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --default-font-family: "Manrope";
  --default-font-feature-settings: "DM Sans";

    --color-pastel-red: hsl(0deg, 48%, 55%);
    --color-pastel-blue: hsl(224deg, 48%, 40%);
    --color-pastel-pink: hsl(281deg, 48%, 53%);
    --color-pastel-purple: hsl(276deg, 40%, 44%);
    --color-pastel-green: hsl(122deg, 48%, 40%);
    --color-pastel-yellow: hsl(49deg, 60%, 50%);
    --color-pastel-orange: hsl(28deg, 55%, 55%);   
    --color-pastel-cyan: hsl(190deg, 50%, 50%);     
    --color-pastel-mint: hsl(155deg, 45%, 52%);   
    --color-pastel-peach: hsl(15deg, 60%, 58%);    
    --color-pastel-lavender: hsl(250deg, 45%, 60%);

    --color-active: hsl(0deg, 0%, 5%);
    --color-text-light: hsl(0deg, 0%, 100%);
    --color-mute: hsl(0deg, 0%, 30%);

    --color-primary-professor: hsl(3deg, 52%, 50%);
    --color-primary-student: hsl(224deg, 59%, 40%);
}

.student {
    --primary: oklch(41.794% 0.16972 267.464);
    --sidebar-primary: oklch(41.794% 0.16972 267.464);
}

.professor {
    --primary: oklch(51.035% 0.17762 26.202);
    --sidebar-primary: oklch(51.035% 0.17762 26.202);     
}

.coordenation {
    --primary: hsl(273, 52%, 50%);
    --sidebar-primary: hsl(273, 52%, 50%);
} 

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scroll-bar {
    scrollbar-width: none;
}

/* Classes de animações de entrada */

.fade-in {
    animation: fade-in 0.2s forwards;
}

.fade-out {
    animation: fade-out 2s forwards;
}

.enter-in {
    animation: enter-in 0.5s forwards;
}

.enter-in-opacity {
    animation: enter-in-opacity 0.3s forwards;
}

/* Animações de mudança */

.switch-left {
    animation: switch-left 0.5s forwards;
}

.enter-right {
    animation: switch-right 0.5s forwards;
}

.enter-left {
    animation: enter-left 0.5s forwards;
}

.rotation {
    animation: rotation 0.3s forwards;
}

.slide-right {
    animation: slide-right 0.5s ease-in-out forwards;
}

.enter-bottom {
    animation: enter-in-bottom 0.5s forwards;
}

/*
    os keyframes das animações
*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

@keyframes enter-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes enter-in {
    0% {
        transform: translateY(-20px);
        opacity: 10%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes enter-in-opacity {
    0% {
        opacity: 20%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes switch-left {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }
    100% {
        transform: translateX(-20px);
        opacity: 10%;
    }
}

@keyframes switch-right {
    0% {
        transform: translateX(30px);
        opacity: 10%;
    }
    100% {
        transform: translateX();
        opacity: 100%;
    }
}

@keyframes enter-left {
    0% {
        transform: translateX(-30px);
        opacity: 10%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0px);
    }
}


router-outlet + * {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 100%;
}